@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ----------------------------------- Navbar */

.custom-nav {
    background-color: #404040;
    min-height: 75px;
}

.custom-nav-item {
    text-decoration: none;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.custom-brand-link {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    padding-right: 30px;
}

.custom-nav-item a {
    text-decoration: none;
    color: #e6aeae;
}

.custom-nav-item a:hover {
    text-decoration: none;
    color: #fff;
}

/* ----------------------------------- Callout */ 

.jumbotron {
    background-color: transparent;
    padding: 10px;
    margin: 10px;
}

.jumbotron h1 {
    color: #fff;
    font-family: "PT Sans", sans-serif;
    font-size: 70px;
}

.jumbotron h2 {
    color: #fff;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
}

.jumbotron > section {
    padding: 0px;
    margin: 0px;
}

.custom-callout-container {
    background: url("images/yoga-workout.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height:90vh;
}

/*.displacement-space {
    height:65vh;
}*/

/* ----------------------------------- Introduction */

.introduction-text {
    min-height: 70vh;
    padding-top: 30px;
    padding-bottom: 90px;
    background-color: black;
    color: white;
}

.intro-text-left {
    padding-left: 180px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.intro-text-right {
    padding-right: 180px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.intro-text-right > p {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
}

.intro-text-right > h2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 25px;
    color: #f4bdd1;
}

.intro-text-left {
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
}

.intro-text-left > h2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 25px;
    color: #f4bdd1;
}



/* ----------------------------------- Footer */

/*.custom-footer {
    background: url("images/alternate-barbell.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height:100vh;
} */

.custom-footer {
    position: fixed;
    bottom: 0;
    left: 0; 
    width: 100%;
    height: 10vh;
    background-color: #404040;
    text-align: center;
    padding: 15px 10px;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    color: #f4bdd1;
}

/*--CSS GRID--*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
  height: 100vh;
}
.grid-item {
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  text-align: right;
}

.intro-button {
    display: inline;
    padding: 10px;
    margin: 10px 0px;
    font-family: "PT Sans Narrow", sans-serif;
}